<h1>Your Profile</h1>

<table>
  <thead>
    <tr>
      <th>username</th>
      <th>created at</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @current_user.name %></td>
      <td><%= @current_user.created_at.strftime("%d.%m.%Y") %></td>
    </tr>
  </tbody>
</table>

<%= link_to 'Edit Profile', '/users/edit' %>
