<h1>This is the secret page</h1>
<style>
    h1 {
        margin: 2rem;
        padding: 1rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        font-family: sans-serif;
        border-radius: 20px;
    }
</style>